@import "../../assets/sass/theme";
@import "../../assets/sass/break-points";

.worksMainContainer {
  display: flex;
  flex-wrap: wrap;
}

.workContainer {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../assets/images/fancybox_overlay.png');
  z-index: 1000;
}

.workItem {
  cursor: pointer;
  width: calc(25% - 1px);
  height: auto;
  overflow: hidden;
  position: relative;  
  margin: 0.5px;
}

@media screen and (max-width: $lg) {
  .workItem {
    width: calc(50% - 1px);
  }
}

@media screen and (max-width: $md) {
  .workItem {
    width: 100%;
  }
  .workItem > img {
    width: 100%;
  }
}

.workItem > img {
  transition: 0.4s;
}

.workItem:hover > img, .workItem:hover > .workDescription {
  transform: scale(1.2);
  opacity: 1;
}

.workItem:hover > .workDescription > h5 {
  margin-top: -15px;
}

.workItem:hover > .workDescription > p {
  margin-top: 5px;
}

.workDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.35s;
  position: absolute;
  width: 100%;
  height: 100%;
  background: $accent-color;
  opacity: 0;
  z-index: 10;
}

.workDescription > h5 {
  font-size: 12px;
  margin-top: -60px;
  margin-bottom: 5px;
  position: absolute;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
  transition: 0.4s;
}

.workDescription > p {
  font-size: 11px;
  color: #fff;
  position: absolute;
  margin-top: 50px;
  transition: 0.4s;
}

.openWorkImg {
  display: flex;
}

.workImgContainer {
  position: relative;
  width: 680px;
  height: auto;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
}

#closeWorkImgId {
  width: 36px;
  height: 36px;
  top: -18px;
  right: -18px;
  cursor: pointer;
  position: absolute; 
  background: url('../../assets/images/fancybox_sprite.png');
}

@media screen and (max-width: $sm) {
  .workImgContainer {
    width: 300px;
  }
  .workImgContainer > img {
    width: 100%;
  }
}